@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --adColor: rgba(50,50,51,1);
  --adFont: 'Roboto', sans-serif;
  --kerkoColor: #242424;
  --kerkoFontColor: #c2bfbf;
  --borderColor: #f0ecec;
  --backGroundNav: #f2f2f2;
  --PartnerCompanyBg: #e4e5e5;
  --backGroundBody: #f3f2f2;
}

.wrapper {
  width: 60%;
  width: calc(100vw - 30%);
  margin: 0 auto;
}
